<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/style (1).css" rel="stylesheet" />
<link href="~/Content/css/util.css" rel="stylesheet" />
<script src="~/Content/js/main.js"></script>

<script src="~/Content/js/main2.js"></script>

    <meta charset="utf-8">

    <title>Sidebar Dashboard Template With Sub Menu</title>

    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">

        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />

    </svg>

    <link href="~/Content/css/style.css" rel="stylesheet" />

    <style>

        .main-container {
        }
    </style>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

</head>

<body style="margin-left:-10px">



    <!--wrapper start-->

    <div class="wrapper">

        <!--header menu start-->

        <div class="header">

            <div class="header-menu">

                <div class="title">Coding <span>Snow</span></div>

                <div class="sidebar-btn">

                    <i class="fas fa-bars"></i>

                </div>

                <ul>

                    <li><a href="#"><i class="fas fa-search"></i></a></li>

                    <li><a href="#"><i class="fas fa-bell"></i></a></li>

                    <li><a href="/Home/Index"><i class="fas fa-power-off"></i></a></li>

                </ul>

            </div>

        </div>

        <!--header menu end-->
        <!--sidebar start-->

        <div class="sidebar">

            <div class="sidebar-menu">

                <center class="profile">

                    <img src="~/Content/images/ETH.jpg" alt="">

                    <p><a href="@Url.Action("MyProfile","Instructor")" style="color:white">Nitesh</a></p>

                </center>

                <li class="item">

                    <a href="@Url.Action("Dashbord","Instructor")" class="menu-btn">

                        <i class="fas fa-desktop"></i><span>Dashboard</span>

                    </a>

                </li>

                <li class="item" id="course">

                    <a href="#course" class="menu-btn">

                        <i class="" bi bi-book"></i><span>Courses <i class="fas fa-chevron-down drop-down"></i></span>

                    </a>

                    <div class="sub-menu">

                        <a href="@Url.Action("NewCourse","Instructor")"><i class="fas fa-image"></i><span>Start New Course</span></a>

                        <a href="@Url.Action("AllCourse","Instructor")"><i class="fas fa-address-card"></i><span>All Courses</span></a>

                    </div>

                </li>

                <li class="item" id="message">

                    <a href="#message" class="menu-btn">

                        <i class="fas fa-sms"></i><span>messages <i class="fas fa-chevron-down drop-down"></i></span>

                    </a>

                    <div class="sub-menu">

                        <a href="@Url.Action("Message","Instructor")"><i class="fas fa-comment-alt"></i><span>Message</span></a>

                        <a href="@Url.Action("Comment","Instructor")"><i class="fas fa-comment"></i><span>Comment</span></a>

                    </div>

                </li>

                <li class="item" id="settings">

                    <a href="#settings" class="menu-btn">

                        <i class="fas fa-cog"></i><span>Quiz<i class="fas fa-chevron-down drop-down"></i></span>

                    </a>

                    <div class="sub-menu">

                        <a href="@Url.Action("QuizCreate","Instructor")"><i class="fas fa-lock"></i><span>Quiz Create</span></a>

                        <a href="@Url.Action("QuizList","Instructor")"><i class="fas fa-language"></i><span>Quiz List</span></a>

                    </div>

                </li>

                <li class="item">

                    <a href="@Url.Action("Student","Instructor")" class="menu-btn">

                        <i class="fas fa-user-alt"></i><span>Student</span>

                    </a>

                </li>

            </div>

        </div>

        <!--sidebar end-->
        <!--main container start-->

        <div class="main-container">



            @RenderBody();





        </div>

        <!--main container end-->

    </div>

    <!--wrapper end-->



    <script type="text/javascript">

        $(document).ready(function () {

            $(".sidebar-btn").click(function () {

                $(".wrapper").toggleClass("collapse");

            });

        });

    </script>



</body>

</html>





